---
layout: default
comments: true
---
<div class="col-md-8">
    <div class="Title-Single">
        <div class="Top-Title-Blog">
            <h2>{{ page.title }}</h2>
        </div>
        <div class="Bottom-Title-Blog">
            <ul>
                {% assign author = site.data.authors[page.author] %}
                {% if author %}
                <li><i class="fa fa-user"></i><p>Author : <a href="{{ author.web }}" target="_blank">{{ author.name }}</a></p></li>
                {% endif %}
                <li><i class="fa fa-clock-o"></i><p>Date : {{ page.date | date: "%d/%m/%Y" }}</p></li>
                <li><i class="fa fa-folder-open"></i><p>Categories : 
                    {% assign cat_size = page.categories | size %}
                    {% if cat_size != 0 %}
                        {% for category in page.categories %}
                            {% assign cat_slug = category | slugify  %}
                            <a href="{{ site.baseurl}}/categories/{{ cat_slug }}">{{ category | capitalize }}</a>
                        {% endfor %}
                    {% endif %}</p></li>
                <li><i class="fa fa-comment"></i><p><span class="disqus-comment-count" data-disqus-url="{{ site.url }}{{ page.url }}"></span></p></li>
                <!--<li><i class="fa fa-heart"></i><p>Like : <a href="#">3</a></p></li>-->
            </ul>
        </div>
    </div>
    <div class="Single-Blog-Content">
        <div class="Post-Images">
            {% if page.hero %}
                    {% if page.hero_high %}
                        <a href="{{page.hero_high}}"><img src="{{page.hero | prepend: site.baseurl}}" alt="{{page.hero_alt}}"></a>
                    {% else %}
                        <img src="{{page.hero | prepend: site.baseurl}}" alt="{{page.hero_alt}}">
                    {% endif %}
            {% endif %}
        </div>
        <div class="Post-Content">
            {{ content }}
        </div>
    </div>

    <div class="Under-Post">
        <div class="post-tags">
            <i class="fa fa-tags"></i>
                {% assign tag_size = page.tags | size %}
                {% if tag_size != 0 %}
                    {% for tag in page.tags %}
                        {% assign tag_slug = tag | slugify %} 
                        <a href="{{ site.baseurl}}/tags/{{ tag_slug }}">{{ tag | capitalize }}</a>
                    {% endfor %} 
                {% endif %}
                
            
        </div>
        <div id="shareIconsCount" class="Social-Content Social-Blog"></div>
    </div>
    <div class="divcod50"></div>
    {% include comment.html %}
    {% if post.comments %}
        
    {% endif %}
</div>